@import './../../variables.scss';

.sectionWrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $work-section-bg;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}