@import './../../variables.scss';

.navBar{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $alternative-color;
    .menuIcon{
        display: none;
        cursor: pointer;
    }
    .menuWrapper{
        width: 80%;
        min-width: 830px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        > li{
            padding: 14px;
            &:hover{
                background-color: $alternative-color-hover;
                text-decoration: underline;
            }
            .scroll {
                cursor: pointer;
                font-family: $font-family-body;
                //color: #000000;
                text-transform: uppercase;
                font-size: 14px;
                color: #FFFFFF;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
    .menuWrapperOpen{
        display: none;
    }
}

@media screen and (max-width: $tablet-bp ){
    .openNav{
        background-color: $alternative-color !important; 
    }
    .navBar, .navBarMobile{
        flex-direction: column;
        align-items: flex-start;
        max-width: 170px;
        background-color: transparent;
        .menuIcon{
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            .open, .close{
                text-decoration: none;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 30px;
            }
        }
        .menuWrapper{
            display: none;
        }
        .menuWrapperOpen{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            > li{
                padding: 14px 16px;
                &:hover{
                    background-color: $alternative-color-hover;
                }
                &:first-child{
                    padding-top: 4px;
                }
                .scroll {
                    font-family: $font-family-body;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}